<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
     <link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />
 
</head>
<body>
	
    <div class="container">
        <h2>Book List</h2>

        <a th:href="@{/addbook}" class="btn btn-primary">Add Book</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}">Sample Title</td>
                    <td th:text="${book.author}">Sample Author</td>
                    <td th:text="${book.year}">2023</td>
                    <td th:text="${book.isbn}">ISBN123</td>
                    <td th:text="${book.price}">$29.99</td>
					 <td th:text="${book.category.name}">Category</td>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/delete/' + ${book.id}}">Delete</a>

                    </td>
                    <td>
                        <a th:href="@{'/edit/' + ${book.id}}" class="btn btn-warning">Edit</a>
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
